.a{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    list-style-type: none;
    background-color:chocolate;
    color: black;
    margin: 10px;
    text-decoration: none;
    
}
ul{
    list-style-type: none;
    text-align: justify;
}
.App-link{
       text-decoration: none;
      color: black;
}

